html {
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    width: 100%;
    max-width: 100%;
    background-color:white;
    color: black;
    font-size: 12px;
    font-family:'Courier New', monospace;;
  }


  h1 {
    font-size: 3rem;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  #header {
    background-color: lightgrey;
  }